<header>
  <div class="ribbon">
    <div class="wrapper repel">
      <a class="cluster" href="<%= relative_url '/' %>">
        <img src="<%= relative_url '/images/logo.png' %>" alt="Logo" />
      </a>

      <nav>
        <ul class="cluster">
          <li><a class="decorated" href="<%= relative_url '/club' %>">Le club</a></li>
          <li><a class="decorated" href="<%= relative_url '/competition' %>">La compétition</a></li>
          <li><a class="decorated" href="<%= relative_url '/posts' %>">Actualités</a></li>
          <li><a class="decorated" href="<%= relative_url '/nous-rejoindre' %>">Nous rejoindre</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
